.helo{
    background-image: url("assets/images/codee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: ivory;
    text-align: center;

}
.txt h1{
    text-align: center;
    background-color: white;
}
.col-md-12{
    display: flex;
  background-color: gray;
    }

.card{
    width: 18rem;
    background-color: white;
    width: 290px;
    padding: 15px;
    border: 0px;
}
.col-md-4{
    padding: 10px;
    background: grey;
    height: 450px;
    margin-top: 25px;
}
.hi{
    text-align: center;
    background-color: white;
}
.box .col-md-6{
    text-align: center;
    
}
#chill{
    background-color: skyblue;
}
#chil{
    background-color: grey;
}
.magic{
    text-align: center;
}
#lie{
   background-color: grey;
}
