.demo{
    background-color: tomato;
    text-align: center;

}
.navbar{
text-align: center;
background-color: whitesmoke;
}
.demo2{
background-image: url("assets/images/moon.jpg");
background-repeat: no-repeat;
background-size: cover;
color: yellowgreen;
text-align: center;
height: 200px;
width: 100%
}
.demo3{
  height: 200px;
  width: 100%;
  text-align: center;
  text-decoration: underline plum;
}
.card{
  width: 18rem;
}
.button{
  background-color: skyblue;
  border-radius: 12px
  }