.how{
    background: hotpink;
}
h1{
    letter-spacing: 25px;
    color: gray;
}
.text{
    background:greenyellow ;
}
.hello{
    background-color:brown ;
}
h4{
color: blue;
}
p{color: coral;}
h3{
color: red;
}
